.shop-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 2rem 1rem;
  box-shadow: 0 -1px 16px rgba(222, 4, 222, 0.2);
}
button {
  background-color: blueviolet;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
