.shop-main {
  padding: 2rem;
  transition: 0.4s ease-in;
  border-radius: 10px;
}
.shop-main:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .shop-main-btn {
  background-color: white;
  transition: 0.4s ease-in;
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px 15px;
}
.shop-main-btn:hover {
  background-color: black;
  color: white;
} */
