.products-main {
  margin-top: 1rem;
  padding: 2rem 0;
}
.products {
  text-align: center;
}
.products-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.products-filter {
  text-align: center;
  margin: 2rem 0;
}

.products-filter Button {
  margin-left: 1rem;
}
.products-filter button:focus {
  background-color: #f49b02;
  color: white;
}
